/* global */
*,
*:before,
*:after {
  /*border: 1px red solid;*/
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input,
textarea {
  border: none;
}

/* header */

header {
  background-color: #322A2F;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #B2A1B1;
  margin-left: 1em;
  width: 30%;
}

.search-bar {
  display: flex;
  height: 25px;
  margin-right: 1em;
  margin-top: 1.7em;
  width: 30%;
}

.search-bar input {
  border: solid 2px #d2cccd;
  width: 90%;
  border-radius: 5px 0 0 5px;
}

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #d2cccd;
  color: #FFF;
  height: 25px;
}

.header-span {
  color: #FFF;
}


/* top */

.creator {
  align-items: center;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  height: 278px;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  padding: 10px;
  width: 60%;
}

.creator-label {
  display:flex;
  font-weight:300;
}

.title-input {
  height:35px;
}

.body-input {
  height: 90px;
}

.creator-input {
  border-radius: 5px;
  border: 1px lightgrey solid;
  margin-bottom: 15px;
  width: 100%;
}
.creator-submit {
  height: 40px;
}

button.save-btn {
  background-color: #5E5C6B;
  color: #FFF;
  font-weight: 800;
  font-size:20px;
  height:40px;
}

/* bottom */

.card {
  border-radius: 5px;
  border: 2px solid #d2cccd;
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 200px;
  margin: 50px auto 20px auto;
  min-height: 200px;
  padding: 0px 16px;
  width: 57%;
}

.card-title {
  color: #5E5C6B;
  margin-top: 0;
}

.card-body {
  border-bottom: 2px solid #d2cccd;
  padding: 16px 0px;
}

.card-text {
  color: #6A686A;
  font-size: 18px;
}

.card-bottom {
  display: grid;
  grid-template-columns: 40px 40px 1fr 40px;
}

.card-bottom-text {
  color: #6A686A;
  font-size: 17px;
  font-weight: 800;
  margin-top: 0;
  padding: 8px 0px 0px 8px;
}

.card-btn {
  height: 30px;
  padding: 5px 0px 0px 5px;
  width: 30px;
}

